body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


  body{
        margin-top:70px;
    }
    a{
      margin-left:5px;
      margin-right:5px;
    }
				/* ---
			 --- Bootstrap css framework does not have any css to help you bold the fonts inside the input controls		 
	   --- Reference:				http://stackoverflow.com/questions/19093268/set-font-weight-using-bootstrap-classes
				---*/
				.font-bold {
font-weight: bold;}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
/* Custom navbar style from  http://www.bootply.com/93475#*/
.navbar-custom {
	background-color: #192f42;
    color:#ffffff;
  	border-radius:0;
    min-height:65px;
}
  
.navbar-custom .navbar-nav > li > a {
  	color:#fff;
  	padding-left:25px;
  	padding-right:25px;
    padding-top:20px;
    padding-bottom:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color:black;
	background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #2a3f53;
}
      
.navbar-custom .navbar-brand {
   color:#eeeeee;
   padding:20px;
}

.navbar-custom .navbar-toggle,
.navbar-custom .nav .open>a, .navbar-custom .nav .open>a:hover, .navbar-custom .nav .open>a:focus {
   background-color:transparent;
}

.navbar-custom .icon-bar {
   border: 1px solid #fff;                
}

/*-- change navbar dropdown color --*/
.navbar-custom .navbar-nav .open .dropdown-menu>li>a,.navbar-custom .navbar-nav .open .dropdown-menu {
    color:white;
    background-color:#192f42;
}


/*-- need to set the body font-size because the typesettings.css font is super big--*/
body{
font-size:14pt;
}