<div class="container">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Update Brand Record</div>
            </div>
            <div class="panel-body">
                <form id="dataForm" role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="brandNameInput">Brand Name</label>
                        <div class="col-md-4">
                            <input type="text" id="brandNameInput" class="form-control input-group-sm"
                                   maxlength="50" placeholder="Brand Name" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Photo</label>
                        <div class="col-md-4">
                            <img id="currentPhotoImage" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 updateBrandCategoryListLabelFix" for="categoriesInput">Categories</label>
                        <div class="form-group col-md-9">
                            <div class="form-group" id="categoriesList"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="brandPhotoUploadInput">Photo</label>
                        <div class="col-md-9">
                            <input id="fileInput" name="fileInput" type="file" class="file input-group-lg" multiple="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <div class="pull-right">
                                <input type="button" class="btn btn-danger" value="Delete" id="deleteButton" />
                                <input type="button" class="btn btn-primary" value="Save" id="saveButton" />
                                <a class="btn btn-default" asp-action="Index" asp-controler="Employees">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- end of div element which has the class="panel-body" -->
        </div><!-- end of the div element which has the class="panel" -->
    </div><!-- end of the div element which has class="col-md-offset-2 col-md-8" -->
</div><!-- end of div element which has the class="container" -->

<script>
    var brandCategories = [];

    //------------------------------------ Client-side Load Data logic -----------------------------------
    var g_brandId = getBrandIdFromAddressBar();
    function getBrandIdFromAddressBar() {
        //Get employee id from the url string in the browser's address bar
        var urlArray = window.location.href.split('/');
        var id = urlArray[urlArray.length - 1];
        return id;
    };

    var msCategoryList = $('#categoriesList').magicSuggest({
        method: 'get',
        data: 'http://localhost:5008/API/Categories',
        dataType: 'json',
        displayField: 'catName',
        valueField: 'catId',
        allowFreeEntries: false,
        autoSelect: false
    });

    $loadSelectedCategoriesDataHandler = jQuery.ajax({
        contentType: 'application/json',
        method: 'get',
        url: 'http://localhost:5008/API/BrandCategory/' + g_brandId,
    })
    $loadSelectedCategoriesDataHandler.done(function (data, textStatus, jqXHR) {
        msCategoryList.setSelection(data);
    } //end of JavaScript anonymous function

          )//end of the done() method;
    $loadSelectedCategoriesDataHandler.fail(function (data, textStatus, jqXHR) {
        swal("Oh no!", data.response.message, "error");
    })//end of $loadBrandDataHandler.fail()

    //Note: jQuery.ajax(..) is also often written is $.ajax(..)
    $loadBrandHandler = jQuery.ajax({
        type: 'GET',
        url: '/API/Brands/' + g_brandId,
    })
    $loadBrandHandler.done(function (data, textStatus, jqXHR) {
        var brand = data;
        //Copy out the brand information
        var brandId = brand.brandId;
        var brandName = brand.brandName;
        var brandPhotoUrl = brand.photoUrl;
        var categories = [];

        for (i = 0; i < brandCategories.length; i++) {
            if (brandCategories[i].brandId == brandId && brandCategories.DeletedAt == null) {
                // Add it into the column categories
                categories.push(brandCategories[i].catId);
            }
        }
        
        //Populate the respective input controls with the brand details.
        $('#brandNameInput').val(brandName);
        $('#currentPhotoImage').attr('src', brandPhotoUrl);
        msCategoryList.setValue(categories);
    }//end of JavaScript anonymous function

    )//end of the done() method;

    //------------------------------------ Client-side Load Data logic ---(End)---------------------------

    //------------------------------------ Client-side Upload logic -----------------------------------------
    window.$brandPhotoInputElement = $('#fileInput');
    var footerTemplate = '<div class="file-thumbnail-footer">\n' +
    '    <div class="file-caption-name" style="width:{width}">{caption}</div>\n' +
    '    {actions}\n' +
    '</div>';
    var actionTemplate = '<div class="file-actions">\n' +
     '       <div class="file-footer-buttons">\n {delete} </div>\n' +
     '    <div class="file-upload-indicator" tabindex="-1" title="{indicatorTitle}">{indicator}</div>\n' +
     '    <div class="clearfix"></div>\n' +
     '</div>';
    window.$brandPhotoInputElement.fileinput({
        previewFileType: 'image',
        allowedFileTypes: ['image'],
        uploadUrl: '/API/Brands/UploadBrandPhotoAndUpdateBrandData',
        uploadAsync: false,
        maxFileCount: 1,
        layoutTemplates: { footer: footerTemplate, actions: actionTemplate },
        type: 'post',
        msgInvalidFileType: 'Invalid type for file "{name}". Only "{types}" files are supported.',
        autoReplace: true,/*http://plugins.krajee.com/file-auto-replace-demo*/
        overwriteInitial: false,
        showUploadedThumbs: false,
        showUpload: false,
        showRemove: false,
        browseClass: 'btn btn-primary btn-md pull-right',
        previewFileIcon: '<i class="glyphicon glyphicon-king"></i>',
        allowedFileExtensions: ['jpg', 'jpeg', 'png'],
        uploadExtraData: function () {  // callback example
            var out = {};
            return out;
        }
    });

    window.$brandPhotoInputElement.on('filebatchuploadsuccess',
                  function (event, data, previewId, index) {
                      //It is not necessary that an upload has occurred because the user
                      //may have only made changes to the employee data but did not
                      //select a new file.
                      var form = data.form, files = data.files, extra = data.extra,
                      response = data.response, reader = data.reader;
                      swal("Hurray!", data.response.message, "Success");
                      var newImageUrl = data.jqXHR.responseJSON.NewImageUrl;
                      $('#currentPhotoImage').attr('src', newImageUrl);
                  });
    //----------------------------------------- Client-side Upload logic ---(End)----------------------


    //----------------------------------------- Client-side Update logic --------------------------------
    $('#saveButton').on('click', function () {
        //Collect data from input elements
        var collectedBrandName = $('#brandNameInput').val();
        if (collectedBrandName == null || collectedBrandName == "") {
            swal("Oh no!", "Please enter a brand name!", "error");
            return; // Break out of the function
        }
        var collectedCategories;

        if (msCategoryList.getValue().length != 0) {
            collectedCategories = JSON.stringify(msCategoryList.getValue()); // Category Id Array!!
        } else {
            collectedCategories = null;
        }
        
        var fileName = $brandPhotoInputElement.val();

        var numberOfFiles = 0;
        if (fileName != '') {
            numberOfFiles = 1;
        }

        var webFormData = new WebFormData(collectedBrandName,
                    collectedCategories);

        var webFormDataInString = JSON.stringify(webFormData);

        if (numberOfFiles > 0) {
            $saveBrandHandler = jQuery.ajax({
                method: 'PUT',
                contentType: 'application/json',
                url: '/Api/Brands/SaveBrandUpdateInformationIntoSession/' + g_brandId,
                data: "'" + webFormDataInString + "'"
            });
            $saveBrandHandler.done(function (data, textStatus, jqXHR) {
                if (window.$brandPhotoInputElement.val() != '') {
                    //Using this command will get the FileUpload widget to begin upload
                    window.$brandPhotoInputElement.fileinput('upload');
                } else {
                    swal("Hurray!", data.response.message, "success");
                }
            });
            $saveBrandHandler.fail(function (data, textStatus, jqXHR) {
                swal("Oh no!", data.response.message, "error");
            });
        }//end of if (numberOfFiles>0) condition block

        if (numberOfFiles == 0) {
            $saveBrandHandler = jQuery.ajax({
                method: 'PUT',
                contentType: 'application/json',
                url: '/Api/Brands/SaveBrandUpdateInformationIntoDatabase/' + g_brandId,
                data: "'" + webFormDataInString + "'"
            });
            $saveBrandHandler.done(function (data, textStatus, jqXHR) {
                swal("Hurray!", "Your amazing brand has been updated!", "success");
            });
            $saveBrandHandler.fail(function (data, textStatus, jqXHR) {
                swal("Oh no!", data.response.message, "error");
            });

        }//end of if (numberOfFiles==0) condition block


    });
    //Define the object constructor, WebFormData which you can create
    //a suitable object of information which is needed by the Web API Post() method

    function WebFormData(inBrandName, inCategories) {
        this.BrandName = inBrandName;
        this.BrandCategories = inCategories;
    }
    //----------------------------------------- Client-Side Update logic ---(End)-------------------------------------

    //----------------------------------------- Client-side Delete logic -------------------------------------------------
    $('#deleteButton').on('click', function () {
        $deleteBrandHandler = jQuery.ajax({
            type: 'DELETE',
            url: '/API/Brands/' + g_brandId
        })//end of jQuery.ajax() call
        $deleteBrandHandler.done(function (data, textStatus, jqXHR) {
            swal({
                title: "Success!",
                text: data.responseJSON.message,
                type: "success",
                showCancelButton: false,
                closeOnConfirm: false,
                showLoaderOnConfirm: true,
            },
            function () {
                $('body').fadeOut(2000, redirectPage);
            });
        });//end of $deleteEmployeeHandler.done()

        $deleteBrandHandler.fail(function (data, textStatus, jqXHR) {
            swal("Oh no!", data.responseJSON.message, "error");
        });//end of $deleteEmployeeHandler.fail()

    });// end of $('#deleteButton').on('click', function () { ...}
    function redirectPage() {
        location.replace('/Brands/Index');
    }// end of redirectPage() method (function)
    //----------------------------------------- Client-side Delete logic -(End)-------------------------------------------
</script>
