<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Create Product Record</div>
            </div>
            <div class="panel-body">
                <form id="dataForm" role="form" class="form-horizontal">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3" for="prodNameInput">Product Name</label>

                        <input type="text" id="prodNameInput" class="form-control font-bold"
                               maxlength="50" placeholder="Product Name" value="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3" for="brandInput">Brand</label>
                        <div id="brandInput" class="col-md-8 ui selection dropdown">

                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 photoUploadMarginFixProducts" for="fileInput">Photo</label>
                        <div class="col-md-8">
                            <input id="fileInput" name="fileInput" type="file" class="file input-group-lg" multiple />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3" for="productProperties">Properties</label>
                        <div id="checkboxContainer" class="col-md-9">
                            <div class="ui slider checkbox">
                                <input type="checkbox" id="descriptionCheck">
                                <label>Product has a description</label>
                            </div><br>
                            <div class="ui slider checkbox">
                                <!-- A Product does not need to comply with the metrics system.
                                In such cases, we'll be creating a row within metrics without
                                any properties and just throw in it's price into the row. -->
                                <input type="checkbox" id="metricsCheck">
                                <label>Product has many variations</label>
                            </div><br>
                            <div class="ui slider checkbox">
                                <input type="checkbox" id="consumableCheck">
                                <label>Product is a consumable</label>
                            </div><br>
                            <div class="ui slider checkbox">
                                <input type="checkbox" id="specialsCheck">
                                <label>Product has a special promotion</label>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group col-md-12 hidden" id="descriptionBox">
                        <label class="control-label col-md-3" for="descBox">Description</label>
                        <div class="form-group col-md-8">
                            <textarea id="descriptionBox"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-12 hidden" id="metricSegment">
                        <label class="control-label col-md-3" for="dataTable">Metrics</label>
                        <div class="col-md-8">
                            <table id="dataTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Metric Name</th>
                                        <th>Metric Type</th>
                                        <th>Quantity</th>
                                        <th>Price per type</th>
                                        <th>RRP</th> <!-- Recommended Retail Price -->
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="metricsTableBody"></tbody>
                            </table>
                        </div>
                    </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-1"></label>
                <div class="col-md-10">
                    <div class="pull-right">
                        <input type="button" class="btn btn-primary" value="Save" id="saveButton" />
                        <a class="btn btn-default" asp-action="Index" asp-controler="Products">Cancel</a>
                    </div>
                </div>
            </div>
            </form>
        </div><!-- end of div element which has the class="panel-body" -->
    </div><!-- end of the div element which has the class="panel" -->
</div><!-- end of the div element which as the  class="col-md-offset-2 col-sm-8"-->
</div><!-- end of div element with class="row" -->

<script>
    var descriptionBox = $('#descriptionBox');
    tinymce.init({
        selector: 'textarea',
        height: 250,
        theme: 'modern',
        plugins: [
          'advlist autolink lists link image charmap print preview hr anchor pagebreak',
          'searchreplace wordcount visualblocks visualchars code fullscreen',
          'insertdatetime media nonbreaking save table contextmenu directionality',
          'emoticons template paste textcolor colorpicker textpattern imagetools'
        ],
        toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons',
        image_advtab: true,
        content_css: [
          '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
          '//www.tinymce.com/css/codepen.min.css'
        ]
    });
    var metricsTable = $('#metricSegment');

    $('#descriptionCheck').on('click', function () {
        if (descriptionBox.hasClass('hidden')) {
            descriptionBox.removeClass('hidden');
        } else {
            descriptionBox.addClass('hidden');
        }
    })
    ;

    $('#metricsCheck').on('click', function () {
        if (metricsTable.hasClass('hidden')) {
            metricsTable.removeClass('hidden');
        } else {
            metricsTable.addClass('hidden');
        }
    })
    ;

    $('#consumableCheck').on('click', function () {
        if (descriptionBox.hasClass('hidden')) {
            descriptionBox.removeClass('hidden');
        } else {
            descriptionBox.addClass('hidden');
        }
    })
    ;

    $('#specialsCheck').on('click', function () {
        if (descriptionBox.hasClass('hidden')) {
            descriptionBox.removeClass('hidden');
        } else {
            descriptionBox.addClass('hidden');
        }
    })
    ;

    var brandInput = $('#brandInput')
                      .dropdown({
                          useLabels: false,
                          maxSelections: 3,
                          api: {
                              method: 'GET',
                              url: 'http://localhost:5008/API/Brands/'
                          }
                      })
    ;

    setupvisibilityRadioListBox();

    //Using a function technique to create a JavaScript class, WebFormData
    function WebFormData(inCatName, inVisibilityId, inStartDate, inEndDate) {
        this.CatName = inCatName;
        this.VisibilityId = inVisibilityId;
        this.StartDate = inStartDate;
        this.EndDate = inEndDate;
    }

    $('#saveButton').on('click', function () {
        var collectedCatName = $('#catNameInput').val();
        if (collectedCatName == null || collectedCatName == "") {
            swal("Error!", "Please enter an appropriate category name!", "error")
            return; // Break out of the function
        }
        var collectedVisibilityId = $('input[name="Visibility"]:checked').val();
        if (collectedVisibilityId == null) {
            swal("Error!", "Please select a visibility type!", "error")
            return;
        }
        //Create a JavaScript object to contain the type name information
        if (collectedVisibilityId == 3) {
            var collectedStartDate = moment(startDateInput).format("DD/MM/YYYY");
            var collectedEndDate = moment(endDateInput).format("DD/MM/YYYY");
            // Date Checking is done Server-Sided
            //
            // Update 01 Jul 2016
            //
            // Reason 1:
            // Moment Js is 150 times slower than javascript
            // Proof of Concept: http://jsperf.com/momentjs-isafter-performance
            //
            // Reason 2:
            // http://stackoverflow.com/questions/25310242/moment-js-isafter-performance
            //
            var webFormData = new WebFormData(collectedCatName, collectedVisibilityId, collectedStartDate, collectedEndDate);
        } else {
            var webFormData = new WebFormData(collectedCatName, collectedVisibilityId, null, null);
        }

        //Serialize the webFormData object which contains the type name
        //data into a flat string. So that, it can be sent accross the Internet network successfully.
        var webFormDataInString = JSON.stringify(webFormData);

        $saveCategoryHandler = jQuery.ajax({
            type: 'POST',
            url: '/API/Categories/',
            dataType: 'json',
            contentType: 'application/json;',
            data: "'" + webFormDataInString + "'"
        })//end of ajax() call
        $saveCategoryHandler.done(function (data, textStatus, jqXHR) {
            swal("Hurray!", data.responseJSON.message, "Success");
        });//end of $saveCategoryHandler.done();
        $saveCategoryHandler.fail(function (data, textStatus, jqXHR) {
            swal("Oh no!", data.responseJSON.message, "error");
        });//end of $saveCategoryHandler.fail();
    });//end of $('#saveButton').on('click', function () {

    function setupvisibilityRadioListBox() {
        var $dataCommunicationTracker = jQuery.ajax({
            contentType: 'application/json',
            method: 'get',
            url: 'http://localhost:5008/API/Visibility/GetAllVisibilities',
        });

        /**
            So now, we will have to throw in all of the elements into
            the dropdown box
        **/
        $dataCommunicationTracker.done(function (data, textStatus, jqXHR) {
            // Like the previous cshtml, let's define a variable for
            // the visibilityRadioList box
            var $visibilityRadioListElement = $('#visibilityRadioList');
            // We then initialize the element container
            // for each element
            var $optionElement = null;

            // Then we implement a for loop to make things dynamic
            // for each course in the array called data
            for (index = 0; index < data.length; index++) {
                // We first define the visibility from the data array
                oneVisibility = data[index];
                // Then we put it into the element container
                $optionElement = $('<input type="radio" name="Visibility" onClick="checkRadio()" value="'
                    + oneVisibility.visibilityId + '"/>' + '<span>' + oneVisibility.visibilityName + '&nbsp;&nbsp;&nbsp;' + '</span>');
                // Then we add the element into the visibilityRadioList radio box
                $visibilityRadioListElement.append($optionElement);
            }
        });

        $dataCommunicationTracker.fail(function (data, textStatus, jqXHR) {
            swal("Oh no!", data.responseJSON.message, "error");
        });
    } //End of setupvisibilityRadioListBox() function

    function checkRadio() {
        if ($('input[name="Visibility"]:checked').val() == 3) {
            $("#startDateSegment").removeClass('hidden');
            $("#endDateSegment").removeClass('hidden');
        } else {
            $("#startDateSegment").addClass('hidden');
            $("#endDateSegment").addClass('hidden');
        }

    }
</script>
