<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <div class="panel-title">
                    Manage Products
                    <div class="btn-group pull-right">
                        <a asp-action="Create" asp-controller="Products" class="btn btn-default btn-group-lg ">Create New Product</a>
                        <!--  <a id="deleteButton" class="btn btn-danger btn-group-lg ">Delete</a>-->
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="dataTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Product Id</th>
                                    <th>Product Name</th>
                                    <th>Brand Name</th>
                                    <th>Threshold Inventory Quantity</th>
                                    <th>Quantity</th>
                                    <th>Published</th>
                                    <!-- <th>No. of Sub-Categories</th> -->
                                    <th>Created At</th>
                                    <th>Created By</th>
                                    <th>Updated At</th>
                                    <th>Updated By</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="productTableBody"></tbody>
                        </table>

                    </div>
                </div>
            </div> <!-- end of div element with class="panel-body" -->
        </div><!-- end of div element with class="panel" -->
    </div> <!-- end of div element with  class="col-md-offset-2  col-md-8"-->
</div><!-- end of div element with class="row"-->


<script>
    var affectedBrands = "";
    var selectedCategories = [];
    $(document).ready(function () {
        loadProductData();
    })

    function loadProductData() {
        //Note: jQuery.ajax(..) is also often written is $.ajax(..)
        $loadProductDataHandler = jQuery.ajax({
            url: '/Api/Products',
            method: 'GET',
            dataType: 'json',
            cache: false,
        })
        $loadProductDataHandler.done(function (data, textStatus, jqXHR) {
            var productList = data;
            var ProdId = '';
            var ProdName = '';
            var BrandName = '';
            var TiQ = '';
            var Quantity = '';
            var Published = '';
            var CreatedAt = "";
            var CreatedBy = "";
            var UpdatedAt = "";
            var UpdatedBy = "";
            var $tableElement = null;
            var $cellElement = null;
            var $rowElement = null;
            
            //-------- Find the table element -----------
            //I am using the $tableElement variable
            //to represent the found HTML element which has a matching id of brandTableBody
            $tableBodyElement = $('#productTableBody');

            //I want to build rows and cells (using tr and td HTML elements) so that
            //I can display category name, created at, updated at information
            //within the HTML table element, brandTableBody. Recall that, I have already asked the
            //$tableBodyElement variable to represent (reference) the table element.

            //-------- Begin creating <tr> and <td> HTML element ------
            for (index = 0; index < productList.length; index++) {
                //Set this brand variable to reference a brand object
                //inside the brandList Array.
                product = productList[index];
                //Copy out the brand information
                ProdId = product.prodId;
                ProdName = product.prodName;
                BrandName = product.brandName;
                TiQ = product.tiQ;
                Quantity = product.quantity;
                Published = product.published;
                CreatedAt = product.createdAt;
                CreatedBy = product.createdBy;
                UpdatedAt = product.updatedAt;
                UpdatedBy = product.updatedBy;

                //noofBrands = category.BrandCategory.length;
                // Have not added BrandsOfCategories here
                // noofProducts = brand.NoOfProducts;
                //createdAt = new Date(brand.CreatedAt).toDateString();
                if (product.deletedAt == null) {
                    deletedAt = null;
                } else {
                    deletedAt = new Date(product.deletedAt).toDateString();
                }

                //Create new HTML <tr> element.
                //At the same time let the $rowElement variable to represent it.
                if (deletedAt == null) {
                    $rowElement = $('<tr value="' + ProdId + '"></tr>');
                } else {
                    $rowElement = $('<tr class="highlightred" value="' + ProdId + '"></tr>');
                }
                //Create the 1st cell element which displays the ProdId
                $cellElement = $('<td></td>', { text: ProdId });
                $rowElement.append($cellElement);
                //Create the 2nd cell element which displays the Product Name
                $cellElement = $('<td></td>', { text: ProdName });
                $rowElement.append($cellElement);
                // Create the 3rd cell element which displays the Brand Name
                $cellElement = $('<td></td>', { text: BrandName });
                $rowElement.append($cellElement);
                // Create the 4th cell element which displays the Threshold Inventory Quantity
                $cellElement = $('<td></td>', { text: TiQ });
                $rowElement.append($cellElement);
                // Create the 5th cell element which displays the Quantity
                $cellElement = $('<td></td>', { text: Quantity });
                $rowElement.append($cellElement);
                // Create the 6th cell element which displays the Published State
                $cellElement = $('<td></td>', { text: Published });
                $rowElement.append($cellElement);
                //Create the 7th cell element which display created at information
                $cellElement = $('<td></td>', { text: moment(CreatedAt).format('DD/MM/YYYY HH:mm ZZ') });
                $rowElement.append($cellElement);
                //Create the 8th cell element which display created at information
                $cellElement = $('<td></td>', { text: CreatedBy });
                $rowElement.append($cellElement);
                //Create the 9th cell element which display updated at information
                $cellElement = $('<td></td>', { text: moment(UpdatedAt).format('DD/MM/YYYY HH:mm ZZ') });
                $rowElement.append($cellElement);
                //Create the 10th cell element which display created at information
                $cellElement = $('<td></td>', { text: UpdatedBy });
                $rowElement.append($cellElement);
                if (deletedAt == null) {
                    //---------------- Using jQuery() to create the hyperlink element using the <a></a> --------
                    $hyperLinkElement = $('<a>Update</a>').attr('href', '/Products/Update/' + ProdId);
                    $hyperLinkElement.addClass('btn btn-primary');
                    //-----------------Using jQuery() to creating the 6th cell for the row----------------------
                    $cellElement = $('<td></td>');
                    //-----------------Add the previous created hyperlink element, $hyperLinkElement
                    //                 into the newly created 6th cell.
                    $cellElement.append($hyperLinkElement);
                } else {
                    //---------------- Using jQuery() to create the hyperlink element using the <a></a> --------
                    $hyperLinkElement3 = $('<a name="restore" id=' + ProdId + ' onClick="restoreCat(' + ProdId + ')">Restore Product</a>'); // Placeholder
                    $hyperLinkElement3.addClass('btn btn-primary inline');
                    $cellElement = $('<td></td>');
                    $cellElement.append($hyperLinkElement3);
                }
                //---------------Add the 6th cell into the row represented by the $rowElement
                $rowElement.append($cellElement);
                //Insert the $rowElement into the table element represented by $tableElement.
                $tableBodyElement.append($rowElement);
                //----End of creating one row to display one brand by using <tr> and <td> HTML element ---
                //       Proceed to the next brand object in the brandList Array.
            }//end of for loop.
        }//end of JavaScript anonymous function

        )//end of the done() method;
        $loadProductDataHandler.fail(function (data, textStatus, jqXHR) {
            swal("Oh no!", data.statusText, "error");
        })//end of $loadCategoryDataHandler.fail()
    }//end of loadCategoryData();


    // Highlight function for Table
    // Commented Out, Broken 'Advanced Feature'
    //$('#dataTable').on('click', 'tbody tr', function (event) {
    //    if (!$(this).hasClass('highlight') && !$(this).hasClass('highlightred')) {
    //        $(this).addClass('highlight');
    //    } else if ($(this).hasClass('highlight')) {
    //        $(this).removeClass('highlight');
    //    }
    //});

    function checkRowsAndProcess(i) {
        $loadBrandUnderCategoryDataHandler = jQuery.ajax({
            contentType: 'application/json',
            method: 'get',
            url: 'http://localhost:5008/API/BrandCategory/GetBrandsUnderCat/' + i,
        })
        $loadBrandUnderCategoryDataHandler.done(function (data, textStatus, jqXHR) {
            var categoryList = data;
            var output = "";

            for (i = 0; i < categoryList.length; i++) {
                output += categoryList[i].BrandName + "\n";
            }
            console.dir(output);
            return output;
        }//end of JavaScript anonymous function

        )//end of the done() method;
        $loadBrandUnderCategoryDataHandler.fail(function (data, textStatus, jqXHR) {
            noty({
                text: 'Ajax fail fired : ' + data.statusText, type: 'error',
                layout: 'center',
                template: '<div class="noty_message"><span class="noty_text"></span>'
            });//end of noty()
        })//end of $loadBrandUnderCategoryDataHandler.fail()

    }

    function WebFormData(inCatId) {
        this.CatId = inCatId;
    }

    function restoreCat(inCatId) {
        var CatId = inCatId;
        var webFormData = new WebFormData(CatId);

        //Convert the webFromData into a JSON string
        var webFormDataInString = JSON.stringify(webFormData);

        $updateCategoryHandler = jQuery.ajax({
            type: 'PUT',
            url: '/API/Categories/Restore/' + CatId,
            dataType: 'json',
            contentType: 'application/json;',
            data: "'" + webFormDataInString + "'"
        })//end of jQuery.ajax() call
        $updateCategoryHandler.done(function (data, textStatus, jqXHR) {
            noty({
                text: data.Message, type: 'success',
                layout: 'center',
                template: '<div class="noty_message" style="height:50px;"><span class="noty_text"></span>',
                buttons: [
                    {
                        addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {
                            $noty.close();
                            $('body').fadeOut(2000, redirectPage);
                        }
                    }
                ]
            });//end of noty()
        });//end of $updateCategoryHandler.done()

        $updateCategoryHandler.error(function (data, textStatus, jqXHR) {
            noty({
                text: data.responseJSON.Message, type: 'error',
                layout: 'center',
                template: '<div class="noty_message"><span class="noty_text"></span>'
            });//end of noty()
        });//end of $updateCategoryHandler.error()
    }

    function redirectPage() {
        location.replace('/Categories/Index');
    }// end of redirectPage() method (function)

    $('#deleteButton').on('click', function () {
        $('#dataTable tr').each(function () {
            if ($(this).hasClass('highlight')) {
                var value = $(this).attr("value");
                selectedCategories.push(value);
            }
        })
        for (i = 0; i < selectedCategories.length; i++) {
            console.dir(checkRowsAndProcess(i));
        }
    });// end of $('#saveButton').on('click', function () { ...}

    function runNotifier() {
        noty({
            text: "Deleting these Categories will affect and delete the following categories binded to these brands: " + affectedBrands + "", type: 'success',
            layout: 'center',
            template: '<div class="noty_message" style="height:auto;"><span class="noty_text"></span>',
            buttons: [
                {
                    addClass: 'btn btn-danger', text: 'Delete Them', onClick: function ($noty) {
                        $noty.close();
                        // Start Deleting the categories and the categories linked to the brands
                        $('#dataTable tr').each(function () {
                            if ($(this).hasClass('highlight')) {
                                var CatId = $(this).attr('value');
                                $deleteCategoryHandler = jQuery.ajax({
                                    type: 'DELETE',
                                    url: '/API/Categories/' + CatId
                                })//end of jQuery.ajax() call
                                $deleteCategoryHandler.done(function (data, textStatus, jqXHR) {
                                    noty({
                                        text: data.Message, type: 'success',
                                        layout: 'center',
                                        template: '<div class="noty_message" style="height:50px;"><span class="noty_text"></span>',
                                        buttons: [
                                            {
                                                addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {
                                                    $noty.close();
                                                    $('body').fadeOut(2000, redirectPage);
                                                }
                                            }
                                        ]
                                    });//end of noty()
                                });//end of $deleteCategoryHandler.done
                                $deleteCategoryHandler.fail(function (data, textStatus, jqXHR) {
                                    console.log(data);
                                    noty({
                                        text: data.responseJSON.Message, type: 'error',
                                        layout: 'center',
                                        template: '<div class="noty_message"><span class="noty_text"></span>'
                                    });//end of noty()
                                });//end of $deleteCategoryHandler.fail()
                            }
                        });
                        $('body').fadeOut(2000, redirectPage);
                    }
                },
                    {
                        addClass: 'btn btn-primary', text: 'Cancel', onClick: function ($noty) {
                            $noty.close();
                            affectedBrands = ""; // Reset the String
                        }
                    }
            ]
        });//end of noty()
    }
</script>
